<h1>Listing products</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%=h product.title %></td>
    <td><%=h product.description %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to "Delete", delete_product_path(product), :class => 'delete' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New product', new_product_path %>
